[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "microsamplingDesign"]
	path = microsamplingDesign
	url = https://github.com/cran/microsamplingDesign
[submodule "spectralAnalysis"]
	path = spectralAnalysis
	url = https://github.com/cran/spectralAnalysis
